*.*~
*/*.bsp
template/**
-petalinux/build/**

#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

/gitignore/**
/ip_repo/**
/projects/P01**
/projects/P02**
/projects/P03**
/projects/P04**
/projects/P05**
/projects/P06**
/projects/P07**
/projects/P08**
/projects/P09_VGA_TEST-org**
/projects/P09_VGA_TEST**
/projects/P10**
/projects/VGA_COLBAR/VGA_TEST.cache**
/projects/VGA_COLBAR/VGA_TEST.sdk**
/projects/VGA_COLBAR/VGA_TEST.ip_user**
/projects/VGA_COLBAR/VGA_TEST.runs**
!/projects/VGA_COLBAR/README.md
!/projects/VGA_COLBAR/VGA_COLBAR.png
/projects/VGA_COLBAR/**
!/projects/multicomp-z80/**
/projects/multicomp/**
/projects/template2/**
#/projects/
/workspace/**
/projects/ADV7123_VGA/**
!/workspace/ADV7123_VGA_application**
!/workspace/ADV7123_VGA_platform**
!/workspace/ebaz4205_standalone**
!/workspace/hello_world**
!/workspace/FATFS_application**
!/workspace/lwip_echo_server**
/petalinux/template/junk**
/template/template.cache/**
/template/template.runs/**
!/ELLC/**
!*.md
!/board**
*.*~








